version: '3.8'

services:
  db:
    image: mariadb:10.6
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: prestashop_db
      MYSQL_USER: prestashop_user
      MYSQL_PASSWORD: admin
    restart: always

  prestashop:
    image: prestashop/prestashop:1.7-apache
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - db
    volumes:
      - ../store_source_code:/var/www/html
      - ../docker/certs/prestashop.crt:/etc/ssl/certs/prestashop.crt
      - ../docker/certs/prestashop.key:/etc/ssl/private/prestashop.key
      - ./prestashop-ssl.conf:/etc/apache2/sites-available/default-ssl.conf
      - ./prestashop-http.conf:/etc/apache2/sites-available/000-default.conf
      - ./ports.conf:/etc/apache2/ports.conf
    environment:
      DB_SERVER: db
      DB_USER: admin
      DB_PASSWORD: admin
      DB_NAME: prestashop_db
      PS_INSTALL_AUTO: '0'
      PS_DEV_MODE: 'false'
    restart: always
    command: >
      bash -c "
      a2enmod ssl &&
      a2enmod rewrite &&
      a2ensite default-ssl &&
      apache2-foreground
      "
      
  mailhog:
    image: mailhog/mailhog
    restart: unless-stopped
    ports:
      - "1025:1025"
      - "8025:8025"
