version: '3.8'

services:
  db:
    image: mariadb:10.6
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: prestashop_db
      MYSQL_USER: prestashop_user
      MYSQL_PASSWORD: admin
    restart: always

  prestashop:
    image: prestashop/prestashop:1.7-apache
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - db
    volumes:
      - ../store_source_code:/var/www/html
    environment:
      DB_SERVER: db
      DB_USER: admin
      DB_PASSWORD: admin
      DB_NAME: prestashop_db
      PS_INSTALL_AUTO: '0'
      PS_DEV_MODE: 'false'
    restart: always
